<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body>
    
    <%- include("../partials/nav")  %> 

    <div class="container mt-3">
        <div class="row">
            <form method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-10">
                        <input type="hidden" name="resim" value="<%= blog.resim %>">
                        <!-- baslik -->
                        <div class="row mb-3">
                            <label for="baslik" class="col-sm-2">Başlık:</label>
                            <div class="col-sm-8">
                                <input type="text" name="baslik" id="baslik" class="form-control" value="<%= blog.baslik %>">
                            </div>
                        </div>

                        <!-- altbaslik -->
                        <div class="row mb-3">
                            <label for="altbaslik" class="col-sm-2">Alt Başlık:</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" name="altbaslik" id="altbaslik" rows="3"><%= blog.altbaslik %></textarea>
                            </div>
                        </div>
    
                        <!-- aciklama -->
                        <div class="row mb-3">
                            <label for="aciklama" class="col-sm-2">Açıklama:</label>
                            <div class="col-sm-8">
                                <textarea id="editor" class="form-control" name="aciklama" id="aciklama" rows="5"><%= blog.aciklama %></textarea>
                            </div>
                        </div>
    
                        <!-- resim -->
                        <div class="row mb-3">
                            <label for="resim" class="col-sm-2">Resim:</label>
                            <div class="col-sm-8">
                                <img src="/static/images/<%= blog.resim %>" width="120" class="img-fluid" alt="">
                                <input type="file" name="resim" id="resim" class="form-control">
                            </div>
                        </div>
    
                        <!-- anasayfa -->
                        <div class="row mb-3">
                            <div class="col-sm-8 offset-sm-2">
                                <div class="form-check">
                                    <input 
                                        type="checkbox" 
                                        name="anasayfa" 
                                        id="anasayfa" 
                                        class="form-check-input"
                                        <%= blog.anasayfa && "checked" %>
                                    >
                                    <label for="anasayfa" class="form-check-label">
                                        Anasayfa
                                    </label>
                                </div>
                            </div>
                        </div>
    
                        <!-- onay -->
                        <div class="row mb-3">
                            <div class="col-sm-8 offset-sm-2">
                                <div class="form-check">
                                    <input 
                                        type="checkbox" 
                                        name="onay" 
                                        id="onay" 
                                        class="form-check-input"
                                        <%= blog.onay && "checked" %>
                                    >
                                    <label for="onay" class="form-check-label">
                                        Onay
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        <!-- submit form btn -->
                        <div class="row mb-3">
                            <div class="col-sm-8 offset-sm-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        
                    </div>
    
                    <div class="col-md-2">
                        <!-- kategori -->
                       <div class="card overflow-hidden">
                            <div class="card-header">Kategoriler</div>
                            <div class="card-body">
                                <% categories.forEach(category => { %>
                                    <div class="form-check">
                                        <input 
                                            type="checkbox" 
                                            name="categories[]"
                                            class="form-check-input" 
                                            id="category_<%= category.id %>"
                                            value="<%= category.id %>"
                                            <%= blog.categories.some(cat => cat.id === category.id) && "checked" %> />
                                        <label class="form-check-label" for="category_<%= category.id %>">
                                          <%= category.name %>
                                        </label>
                                    </div>
                                <% }) %>
                            </div>
                       </div> 
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <script src="https://cdn.ckeditor.com/ckeditor5/38.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
</body>
</html>