
sayfa adeti: <%= totalPages %>
ürün adeti: <%= totalItems %>
geçerli sayfa: <%= currentPage %>

<!-- pagination -->
<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a href="" class="page-link">Geri</a>
        </li>

        <% for( let i = 0; i < totalPages; i++ ) { %>
            <li class="page-item">
                <a href="?page=<%= i %>" class="page-link"><%= (i + 1) %></a>
            </li>
        <% } %>
        
        <li class="page-item">
            <a href="" class="page-link">İleri</a>
        </li>
    </ul>
</nav>